@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

.heading{
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    color:white;
    background-color: black;
    padding: 8px;
    border-radius: 5px;
}

.loginform:hover{
    box-shadow: 5px 5px 18px rgba(15, 15, 15, 0.533);
    border-radius: 10px;
}

.linkst{
    transition:all 0.3s;
}
.linkst:hover{
    text-decoration: underline;
    color:royalblue;
    font-weight: bold;
    cursor: pointer;
}

button{
    border: none;
    outline: none;
    color: white;
    background-color: rgb(4, 88, 255);
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    transition: all 0.3s;
  }
 
button:hover{
    background-color: rgb(32, 140, 80);
}

.loading{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: black;
    opacity: 0.80;
    height: calc(100vh - 70px);
}
